<form class="well form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Editar bien hechor</legend>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Nombre</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input ng-model="bienHechor.nombre" name="nombre" placeholder="Nombre" class="form-control"
                           type="text">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Apellido Paterno</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input ng-model="bienHechor.apellidoPaterno" name="apellidoPaterno" placeholder="Apellido Paterno"
                           class="form-control" type="text">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Apellido Materno</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input ng-model="bienHechor.apellidoMaterno" name="apellidoMaterno" placeholder="Apellido Materno"
                           class="form-control" type="text">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Dirección</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input ng-model="bienHechor.direccion" name="direccion" placeholder="Dirección" class="form-control"
                           type="text">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Ciudad</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input ng-model="bienHechor.ciudad" name="ciudad" placeholder="Ciudad" class="form-control"
                           type="text">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Estado</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input ng-model="bienHechor.estado" name="estado" placeholder="Estado" class="form-control"
                           type="text">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Teléfono Local</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input ng-model="bienHechor.telefonoLocal" name="telefonoLocal" placeholder="(845)555-1212"
                           class="form-control" type="text">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Teléfono Celular</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input ng-model="bienHechor.telefonoCelular" name="telefonoCelular" placeholder="(845)555-1212"
                           class="form-control" type="text">
                </div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label">Correo electrónico</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input ng-model="bienHechor.correo" name="correo" placeholder="correo@dominio.com"
                           class="form-control" type="text">
                </div>
            </div>
        </div>


        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label">Fecha de nacimiento</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input ng-model="bienHechor.fechaNacimiento" name="fechaNacimiento" class="form-control"
                           type="date">
                </div>
            </div>
        </div>

        <!-- Select Basic -->

        <div class="form-group">
            <label class="col-md-4 control-label">Frecuencia de donativo</label>
            <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>

                    <select ng-model="bienHechor.frecuenciaDonativo" name="frecuenciaDonativo"
                            class="form-control selectpicker">
                        <option value=" ">Selecciona la frecuencia del donativo</option>
                        <option value="mensual">Mensual</option>
                        <option value="bimestral">Bimestral</option>
                        <option value="trimestral">Trimestral</option>
                        <option value="semestral">Semestral</option>
                        <option value="anual">Anual</option>
                        <option value="donativoUnico">Donativo único</option>
                    </select>

                </div>
            </div>
        </div>

        <!-- Select Basic -->

        <div class="form-group">
            <label class="col-md-4 control-label">Método de Aportación</label>
            <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>

                    <select ng-model="bienHechor.metodoAportacion" name="metodoAportacion"
                            class="form-control selectpicker">
                        <option value="efectivo"> Efectivo en domicilio</option>
                        <option value="deposito">Depósito a cuenta</option>
                        <option value="transferencia">Transferencia electrónica</option>
                        <option value="domiciliado">Domiciliado</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Select Basic -->

        <div class="form-group">
            <label class="col-md-4 control-label">Zona</label>
            <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>

                    <select ng-model="bienHechor.zona" name="zona" class="form-control selectpicker">
                        <option value="1">1</option>

                    </select>
                </div>
            </div>
        </div>

        <!-- Select Basic -->

        <div class="form-group">
            <label class="col-md-4 control-label">Sector</label>
            <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>

                    <select ng-model="bienHechor.sector" name="sector" class="form-control selectpicker">
                        <option value="1">1</option>

                    </select>
                </div>
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <a ng-click="openCancelModal()" type="button" class="btn btn-danger">Cancelar</a>
                <button ng-click="openModal()" class="btn btn-success">Guardar</button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="cancelModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Editar bien hechor</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{modalMessage}}</p>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" aria-label="Close" type="button" class="btn btn-secondary">Cancelar</button>
                        <a ng-href="#!/bienHechores" ng-click="closeCancelModal()" type="button" class="btn btn-primary btn-danger" >Continuar</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="editModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Editar bien hechor</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{modalMessage}}</p>
                    </div>
                    <div class="modal-footer">
                        <button  ng-click="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a ng-href="#!/bienHechores"  ng-click="closeModal(); actualizarBienHechor()" type="button" class="btn btn-primary btn-success">Guardar</a>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
</form>