<h1>Donativos</h1>
<a type="button" class="btn btn-primary" ng-href="#!/nuevoColaborador">Añadir</a>

<a type="button" class="btn btn-success" ng-href="#!/editarColaborador/{{colaborador.id}}">Editar</a>

<button ng-click="openModal()" class="btn btn-danger">Eliminar</button>

<table class="table">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Celular</th>
        <th>Correo</th>
        <th>Rol</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{selected: filaSeleccionada(colaborador)}" ng-click="seleccionarFila(colaborador)" ng-repeat="colaborador in colaboradores.data">
        <td>{{colaborador.nombre}} {{colaborador.apellidoPaterno}} {{colaborador.apellidoMaterno}} </td>
        <td>{{colaborador.telefonoCelular}} </td>
        <td>{{colaborador.correo}}</td>
        <td>{{colaborador.rol}}</td>
    </tr>

    <!-- Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Eliminar colaborador</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{modalMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button ng-click="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button ng-click=" closeModal(); eliminarColaborador()" type="button" class="btn btn-primary btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    </tbody>
</table>
