<h1>Donativos</h1>
<a type="button" class="btn btn-primary" ng-href="#!/nuevoDonativo">Añadir</a>

<a type="button" class="btn btn-success" ng-href="#!/editarDonativo/{{donativo.id}}">Editar</a>

<button ng-click="openModal()" class="btn btn-danger">Eliminar</button>

<table class="table">
    <thead>
    <tr>
        <th>Fecha</th>

        <th>Folio</th>

        <th>Monto</th>

        <th>Bienhechor</th>

        <th>Colaborador</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{selected: filaSeleccionada(donativo)}" ng-click="seleccionarFila(donativo)" ng-repeat="donativo in donativos.data">
        <td>{{donativo.fecha}}</td>
        <td>{{donativo.folioRecibo}}</td>
        <td>${{donativo.monto}}</td>
        <td>{{nombreBienhechor(donativo.idBienhechor)}}</td>
        <td>{{nombreColaborador(donativo.idColaborador)}}</td>
    </tr>

    <!-- Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Eliminar zonar</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{modalMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button ng-click="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button ng-click=" closeModal(); eliminarDonativo()" type="button" class="btn btn-primary btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    </tbody>
</table>
