
<form class="well form-horizontal" role="form" data-toggle="validator" id="myForm">
    <fieldset>
        <!-- Form Name -->
        <legend>Editar Donativo</legend>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Fecha</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input required ng-model="donativo.fecha" name="fecha" placeholder="Fecha" class="form-control"
                           type="date">
                </div>
            </div>
        </div>
		
		<div class="form-group">
            <label class="col-md-4 control-label">Concepto</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                         <input required ng-model="donativo.concepto" pattern="[a-zA-Z-]+" name="concepto" placeholder="concepto" class="form-control"
                           type="text">
                      </div>
               </div>
        </div>
		
	    <div class="form-group">
           <label class="col-md-4 control-label">Monto</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                         <input required ng-model="donativo.monto" pattern="[0-9-]+" name="monto" placeholder="Monto" class="form-control"
                           type="text">
                      </div>
               </div>
        </div>

	    <div class="form-group">
           <label class="col-md-4 control-label">Folio Recibo</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                         <input required ng-model="donativo.folioRecibo" pattern="[0-9-]+" name="folioRecibo" placeholder="Folio Recibo" class="form-control"
                           type="text">
                      </div>
               </div>
        </div>

	    <div class="form-group">
           <label class="col-md-4 control-label">Referencia</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                         <input required ng-model="donativo.referencia" pattern="[a-zA-Z-]+" name="referencia" placeholder="Referencia" class="form-control"
                           type="text">
                      </div>
               </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Bienhechor</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <select  ng-model="donativo.idBienhechor" name="idBienhechor" placeholder="Bienhechor" class="form-control">
                        <option  value="{{bienhechor.id}}" ng-repeat="bienhechor in bienhechores">{{bienhechor.nombre}} {{bienhechor.apellidoPaterno}} {{bienhechor.apellidoMaterno}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Colaborador</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <select  ng-model="donativo.idColaborador" name="idColaborador" placeholder="Colaborador" class="form-control">
                        <option  value="{{colaborador.id}}" ng-repeat="colaborador in colaboradores">{{colaborador.nombre}} {{colaborador.apellidoPaterno}} {{colaborador.apellidoMaterno}}</option>
                    </select>
                </div>
            </div>
        </div>




        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <a ng-click="openCancelModal()" type="button" class="btn btn-danger">Cancelar</a>
                <button type="submit" ng-click="openModal()" class="btn btn-success">Guardar</button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="cancelModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Agregar donativo</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{modalMessage}}</p>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" aria-label="Close" type="button" class="btn btn-secondary">Cancelar</button>
                        <a ng-href="#!/donativo" ng-click="closeCancelModal()" type="button" class="btn btn-primary btn-danger" >Continuar</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="editModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Editar donativo</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{modalMessage}}</p>
                    </div>
                    <div class="modal-footer">
                        <button  ng-click="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a ng-href="#!/donativo"  ng-click="closeModal(); actualizarDonativo()" type="button" class="btn btn-primary btn-success">Guardar</a>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
</form>

<script>
    $('#myForm').validator()
</script>
